{% extends 'base.html' %}
{% block title %}Contact Us - RapidGrab{% endblock %}

{% block content %}
<div class="content-page">
    <h2>Get In Touch</h2>
    <p>Have questions, feedback, or suggestions? We'd love to hear from you. While we don't have a direct contact form, you can connect with us on our social platforms.</p>
    <p>Follow our development, report issues, or contribute to the project on GitHub. Connect with our professional network on LinkedIn. Stay updated with our latest news on Twitter.</p>
    
    <p>You can find our social media links in the footer below.</p>
</div>
{% endblock %}